body {
    background-image: url("fondo7.jpg");
}

.form-registrer {
    width:400px;
    background: rgba(94, 6, 123, 0.256);
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color:white;
    box-shadow: 7px 13px 37px #000;


}

.form-registrer h4{
    font-size: 22px;
    margin-bottom:20px ;
    
}

.form-registrer p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.controls {
    width: 100%;
    background: rgb(215, 167, 239);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:0vh 1px solid #23034d;
    font-family: "calibri";
    color:#000;
    font-size: 18px;
}